body{
    font-family: sans-serif;
    color: black;
    font-size: 3vw;
    margin:0;
}

.skip a{
    position: absolute;
    top: -100px;
    font-weight: bold;
    z-index: 1;
    color: black;
    background-color: white;
}

.skip a:focus{
    position: absolute;
    border: 3px solid #FFCB05;
    top: 10px;
    padding: 5px;
    font-size: medium;
}


h1{
    font-size: 3em;
    text-align: center;
    padding: 5%;
}

h2{
    font-size: 2em;
    padding: 5%;
    grid-column: 1 /span 3;
}

h3{
    font-size: 1.4em;
    padding: 5%;
}

p{
    font-size: 1.3em;
    padding: 5%;}

li{
    padding: 5%;
    font-size: 1.3em;
    list-style: none;
}
.header{
    display: grid;
    padding: 0 5% 5% 5%;
    text-align: center;
}

header img{
    display: inline-block;
    max-inline-size: 100%;
    max-block-size: 100%;
    border-radius: 10px;
    justify-self: center;

}

header ul li{
    align-items: center;
}

div {
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 10px; */

}

.CAPS-img{
    column-gap: 3%;
}
nav{
    background-color: #00274C;
    position: sticky;
    text-align: center;
    padding-top:2%;
    padding-bottom: 5%;
}

nav a{ color: #00274C;
    text-decoration: none;
    font-weight: bold;
}
nav ul{
    padding: 0;
    margin: 0;}

nav ul li{
    font-size: 2em;
    padding: 10px;
    background-color: #FFCB05;
    justify-content: space-around;
    margin: 5px;
    border-radius: 10px;
}

nav ul li:hover{
    background-color: white;
    color: #00274C;
    text-decoration: underline;
}

.active{
    background-color: white;
    color: #00274C;
    text-decoration: underline;
}


.nav-logo{
    width: 20vw;
    max-width: 100%;
    height: auto;
    margin: 20px;
    padding: 10px;
}

.footer-logo{
    width: 50%;
    max-width: 100%;
    height: auto;
    margin: 20px;
    padding: 10px;
}

.main{
    display: grid;
    justify-content: center;
    text-align: left;
}



.welcome{
    display: grid;
    grid-column: 1/ span 3;
    overflow: visible;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2F65A7;
    box-shadow: 0 0 1em 0.1em rgba(155, 154, 109, 0.25);
    border-radius: 10px;
    margin: 5%;
    color: white;

}

.welcome p, .welcome h3{
    grid-column: 1 /span 3;
    padding: 5%;

}


.welcome section p:nth-child(1){
    grid-column-start: 1 /span 3;
}
.welcome section p:nth-child(2){
    grid-column: 2 /span 3;
    grid-column-start: 2/ span 2;
}
.welcome section p:nth-child(3){
    grid-column: 3 /span 3;
}


.welcome ol li{
    list-style: none;
    display: grid;
    font-size: 1.3em;
    font-weight: 600;
    color: #00274C;
    /* border: 2px #00274C solid; */
    margin: 5%;
    /* border-radius: 10px; */
}

.welcome ol li:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
}

.index-section{
    /* background-color: #CFC096; */
    display:inline-grid;
    margin: 5%;
    /* border: 2px solid black; */
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: #00274C;
    color: white;


}

.index-section p, .index-section h3, .index-section ul{
    grid-column: 1 /span 3;
    padding: 5%;
}


.index-section img, .page-1-section img, .caps-section img, .first-gen-section img{
    max-inline-size: 100%;
    max-block-size: 100%;
    width: 70vw;
    height: auto;
    border-radius: 10px;
    margin: 5%;
    justify-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-column: 1/-1;

}


figcaption{
    text-align: center;
    color: #00274C;
    font-weight: bold;
}

.index-section article{
    grid-column: span 2;
}


.page-1-section{
    display: grid;
    margin: 5%;
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: #00B2A9;
    padding-bottom:10px;
    color: #00274C;

}

.first-gen-section{
    display:grid;
    margin: 5%;
    /* grid-template-columns: 1fr 1fr; */
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
    border-radius: 10px;
    column-width: 0;
    background-color: #CFC096;
    padding-bottom: 5%;
    color: #00274C;
    padding-bottom:10px;
    

}


.page-1-section p, .page-1-section h3, .page-1-section h2, .page-1-section ul{
    grid-column: 1 /span 3;
    padding: 5% 5% 2% 5%;
    margin:0;

}

.page-1-img{
    display: grid;
    grid-column: 1 / span 3;
    align-self: center;
    margin:5%;
    padding: 0;
}



.caps-section{
    display:grid;
    margin: 5%;
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
    border-radius: 10px;
    column-width: 0;
    background-color: #575294;
    padding-bottom: 5%;

}

.caps-section h2{
    color: #FFCB05;
    margin:0
}

.caps-section a{
    color: white;
    padding-left: 5%;
}

.caps-section ul li{
    padding: 3%;
}
.caps-section p{
    color: white;
    padding:5%;
    margin: 0;
    grid-column: 1/span 3;
}

.caps-section img{
    max-inline-size: 100%;
    max-block-size: 100%;
    width: 70vw;
    /* margin: 5%; */
    align-self: center;

}

header ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
    /* margin: 2em; */
    text-align: center;
    column-gap: 2%;
}

.buttons a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
}

.buttons p:nth-child(1){
    background-color: #2F65A7;
    border-radius: 50em;
    padding:4%;
    /* margin:4%; */
    text-align: center;
    align-self: center;

    /* max-height: 20%; */
}

.buttons p:nth-child(1):hover{
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
}

.buttons p:nth-child(2){
    background-color: #9A3324;
    border-radius: 50em;
    padding:4%;
    /* margin:4%; */
    text-align: center;
    align-self: center;
}

.buttons p:nth-child(2):hover{
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
 
}

/* .first-gen-section{
    display:grid;
    margin: 5%;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
    border-radius: 10px;
    column-width: 0;
    background-color: #CFC096;
    padding-bottom: 5%;
    color: #00274C;
    padding-bottom:10px;
    

} */



/* .first-gen-section:last-child{
    display:grid;
    grid-template-columns: 1fr 1fr;
} */


.first-gen-section h2, h3, p{
    margin: 0;
    padding: 5%;
    grid-column: 1 /span 3;
    
}

/* .first-gen-section > .two-column, .first-gen-section > .two-column-2{
    margin:5%
} */


.first-gen-section a{
    color:#00274C ;
}

.first-gen-section article{
    grid-column: span 2;
}


footer{
    /* display: grid; */
    background-color: #00274C;
    color: white;
    padding: 20px;
    text-align: center;
    /* grid-template-columns:  1fr 1fr ; */
    /* grid-template-rows: 1fr 2fr; */
    /* grid-column: 1 / span 2; */
    /* grid-row: span 2 / 1; */
    /* column-gap:5vw; */
    justify-content: baseline;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;

}


footer a{
    display:  grid;
    color: #FFCB05;
}


.error-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #00274C;
    color: white;
    color: #FFCB05;
    font-size: 3em;
    background-color: #00274C;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: fit-content;
    box-sizing:border-box;
    border: 5px solid #FFCB05;
    margin: 10% 10% 50% 10%;
    align-items: center;
}

.error-main img{
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    margin: 10%;
}

.error-main p{
    font-size: .5em;
    text-align: center;

}

.error-header{
    font-size: 0.5em;
    text-align: center;
    justify-self: center; 
    grid-column: 1 /-1;
    display: block;
}

.error-p, .error-img{
    display: block;
    text-align: center;

}

@media only screen and (min-width: 750px) {
    header ul{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header ul li{
        align-items:flex-start;
    }


    nav a{ color: #00274C;
        text-decoration: none;
        font-weight: bold;
    }
    nav ul{
        padding: 0;
        margin: 0;
    }

    nav ul li{
        font-size: 2em;
        padding: 20px;
        background-color: #FFCB05;
        justify-content: space-evenly;
        margin: 15px;
        border-radius: 10px;
    }

    footer{
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-items: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        text-align: left;
    }

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .index-section{
        /* background-color: #CFC096; */
        display:grid;
        margin: 5%;
        box-shadow: 0 0 1em 0.1em rgb(195, 194, 185);
        border-radius: 10px;
        grid-template-columns: 1fr 1fr;
        background-color: #00274C;
        color: white;

    }

    /* .index-section p, .index-section h3, .index-section ul, .index-section article{
    } */

    .index-section > .two-column, .first-gen-section > .two-column{
        grid-column: 1/2;
        padding: 5%;
    }

    .index-section > .two-column-2, .first-gen-section > .two-column-2{
        grid-column: 2/3;
        padding: 5%;
        align-self: end;
    }

    .two-column img, .two-column-2 img, .page-1-section img, .caps-section img, .first-gen-section img{
        max-inline-size: 100%;
        max-block-size: 100%;
        width: 70vw;
        height: auto;
        border-radius: 10px;
        margin: 5%;
        justify-self: center;

    }

    .page-1-section > img, .caps-section > img, .first-gen-section > img{
        display: grid;
        grid-column: 2 / 3;
        align-self: center;
        margin: 5%;
        /* padding:5%; */

    }

    .page-1-img:first-of-type{
        display: grid;
        grid-column: 1 / 2;
        align-self: center;
        margin: 5%;
    }
    .page-1-img{
        display: grid;
        grid-column: 2 / 3;
        align-self: center;
        margin: 5%;
    }

    .caps-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .caps-section ul{
        align-content: center;
    }

   .first-gen-section{
    grid-template-columns: 1fr 1fr;
   }
 
    
    }